<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no, user-scalable=no">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
	<meta http-equiv="Pragma" content="no-cache"/>
	<meta http-equiv="Expires" content="0"/>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <title>web-ui test</title>
</head>

<body>

<marquee>Hello world!</marquee>

<canvas id="myCanvas"></canvas>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>
